<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%-5level] - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>D:\projectInfo\Results.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%-5level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="USER_FILE" class="ch.qos.logback.core.FileAppender">
        <file>D:\projectInfo\User.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%-5level] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ua.petrov.transport.web.controller.BasicSystemController" level="all" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ua.petrov.transport.simulation.controller.Simulation" level="all" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="ua.petrov.transport.simulation.controller.PassengerController" level="all" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="loggerControl" level="all" additivity="false">
        <appender-ref ref="USER_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>